@media screen 
and (min-device-width: 320px)
and (max-device-width: 1024px) {
	.header_container {
		display: none;
	}
	.line_after6, .line_after5, .line_after4, .line_after3, .line_after2, .line_after {
		display: none;
	}
	body {
		width: 170%;
		margin: 0;
		padding: 0;
	}
	h1, h2, {
		margin: 0;
	}
	.hide_container {
		display: block;
	}
	.block_back {
		display: none;
	}
	.form_back {
		display: none;
	}
	.contact {
		display: none;
	}
	.second_block_with_contact {
		display: none;
	}
	.main_logo h1 {
		font-family: "NECMATO";
		font-weight: 100;
		margin: 0;
		font-size: 400px;
   		height: 326px;
	}
	.numbers {
		height: 100px;
		text-align: center;
		padding: 4% 0;
	}
	.numbers a {
		font-size: 100px;
	}
	.numbers img {
		width: 4%;
	}
	.check_langue {
		text-align: center;
		padding: 1% 0;
	}
	.check_langue li {
		display: inline;
		margin: 40px 30px;
	}
	.btn_langue1 {
		font-size: 50px;
	}
	.btn_langue {
		font-size: 50px;
	}
	.bg_check {
		background: #F8F8F8;
		height: 150px;
	}
	.mb_logo {
		display: flex;
		justify-content: center;
	}
	.mb_logo img {
		width: 59%;
		height: 450px;
	}
	.main_logo {
		display: flex;
		justify-content: center;
	}
	.main_logo img {
		width: 62%;
    	margin-top: 15%;
    	height: 150px;
	}
	.call_back {
		display: flex;
		justify-content: center;
	}
	.btn_back {
		width: 40%;
	    height: 150px;
	    background: #012A33;
	    border-radius: 52px;
	    border-color: #000;
	    margin-top: 3%;
	}
	.btn_back a {
		font-size: 43px;
	}
	.our_yaht h2 {
		font-size: 100px
	}
	.our_yaht p {
		font-size: 70px;
	}
	.title_name {
		text-align: center;
		font-size: 60px;
		line-height: 73px;
	}
	.class_yaht {
		display: grid;
	}
	.class_yaht button {
		margin-bottom: 50px;
	}
	.link_class {
		width: 620px;
		height: 150px;
		font-size: 43px;
		border-radius: 50px;
	}
	.category {
		/*height: 0px;*/
	}
	.sale_block_yacht {
		display: block;
	}
	.window_wiht_yacht {
		margin: 187px auto;
		width: 82%;
		border-radius: 160px;
	}
	.main_name_group {
		width: 50%;
		height: 84px;
	}

	.name_group {
		display: flex;
		margin: 0;
	}
	.name_group h2 {
		font-family: "NECMATO";
	    font-weight: 100;
	    margin: -10px 0 56px 0;
	    font-size: 200px;
	    height: 80px;
	    border-bottom: 1px solid #fff;
	}
	.info_about_yacht {
		display: grid;
		justify-content: flex-start;
	}
	.wrap_description {
		font-size: 56px;
		margin: 50px 0;
	}
	.content {
		width: 101%;
	}
	.price p {
		font-size: 56px;
	}
	.wrap_description img {
		height: 80px;
	}
	.btn_call {
	    width: 1200px;
	    height: 300px;
	    background: #000;
	    border-radius: 150px;
	    text-align: center;
	    padding: 17px 0 0 0;
	    position: relative;
	    left: 6%;
	    top: 140px;
	}
	.btn_call a {
		font-size: 90px;
    	position: relative;
    	top: 28%;
	}
	.btn_up {
		display: flex;
		justify-content: center;

	}
	.btn_up img {
		width: 20%;
		height: 333px;
	}
	.reviews_title {
		font-size: 100px;
		padding: 1%;
	}
	.form-email {
		height: 1100px;
	}
	.form-email input {
	    width: 90%;
	    height: 200px;
	    border-radius: 50px;
	    border: 0px;
	    background: #F8F8F8;
	    margin-right: 20px;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: normal;
	    color: #000;
	    margin: 50px 0;
	    font-size: 50px;
	}
	.form-email textarea {
	    width: 90%;
	    height: 300px;
	    border-radius: 50px;
	    margin: 20px 20px 0 0;
	    border: 0px;
	    background: #F8F8F8;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: normal;
	    color: #000;
	}
	.btn_form_back {
	    width: 150px;
	    border-radius: 30px;
	    text-align: center;
	    padding: 17px 0 0 0;
	    position: relative;
	    left: 31%;
	    top: 19px;
	    cursor: pointer;
	}
	.btn_form_back button {
	    width: 650px;
	    height: 150px;
	    background: #000;
	    color: #fff;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: bold;
	    border: 0px;
	    border-radius: 60px;
	    outline: none;
	    cursor: pointer;
	    font-size: 43px;
	}
	.maps {
		width: 85%;
		padding: 0 81px;
		margin-top: 10%;
		border-radius: 250px;
	}
	.maps iframe {
	    border-radius: 250px !important;
	}
	.footer_title1 a {
		text-decoration: none;
    	color: #fff;
    	font-size: 80px;
    	font-family: 'Montserrat', sans-serif;
	    font-weight: bold;
	}
	.logo_footer {
	    width: 91%;
	    background: #012A33;
	    height: 1500px;
    	border-radius: 250px;
   		margin: 4%;
	}
	.logo_footer_img img {
		height: 380px;
	}
	.footer_contact p {
	    font-size: 80px;
	    color: #fff;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: bold;
	}
	.footer_title1 {
		text-decoration: none !important; 
	    color: #fff;
	}
	.footer_title1 p {
		text-decoration: none !important; 
	    color: #fff;
	}
	.footer_title1 img {
	    height: 75px;
	    position: relative;
	    top: 15px;
	    right: 28px;
	    text-decoration: none !important; 
	    color: #fff;
	}
	.footer_title img {
		 height: 75px;
	    position: relative;
	    top: 88px;
	    right: 28px;
	}
	.social img {
	    margin-right: 100px;
	    height: 100%;
	}
	.disign_name p {
	    font-family: 'Montserrat', sans-serif;
	    font-weight: bold;
	    color: #fff;
	    font-size: 60px;
	}
	
	.footer_menu {
		text-align: center;
	}
	.footer_menu li {
	    display: block;
	    font-family: 'Montserrat', sans-serif;
	    font-weight: bold;
	    font-size: 60px;
	    margin: 10px 0;
	}
	.footer_description {
		display: block;
		font-size: 50px;
		padding: 0 60px;
	}
	.description_block1 {
	    text-align: left;
	    padding: 15px 25px 0 20px;
	}
	.action_button {
		font-size: 40px;
	    border: 0px;
	    background: #fff;
	    outline: none;
	    color: #0D9DA6;
	}
	.description_block2, .description_block1 {
		/*display: none;*/
	}
	.show_description {
		display: none;
	}
	.btn_langue1 {
	text-decoration: none;
	color: #012A33;
	font-family: Montserrat;
	font-weight: bold;
}





















}