body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
@font-face {
    font-family: "Adriana-Bold";
    font-style: normal;
    font-weight: bold;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("NECMATO"),
    url("../font/Adrina-Bold.otf") format("otf");
  }

  @font-face {
    font-family: "Adriana-Bold";
    font-style: normal;
    font-weight: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("NECMATO"),
    url("../font/Adrina-Regular.otf") format("otf");
  }

.header {
    /* background: url(../img/BGImage.png) center no-repeat; */
    background-size: cover;
    text-align: center;
    width: 100%;
    position: relative;
}
.heaeder_logo {
    padding: 1% 0 3% 0;
    width: 100%;
}
.heaeder_logo img {
    width: 14%;
}
.header_nav {
    width: 100%;
}
.header_title {
    margin-bottom: 21%;
}
.header_title h1 {
    font-size: 140px;
    font-weight: bold;
    color: #fff;
    font-family: "Adriana-Bold";
}
.header_menu {
    width: 56%;
}
.header_menu li {
    display: inline;
    margin: 0 2%;
}
.header_menu a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    transition: .5s;
}
.header_menu a:hover {
    color: #D9BD75;
    transition: .5s;
}
.header_nav {
    display: flex;
    justify-content: center;
}
.nav_lang {
    position: relative;
    top: -7px;
    border: 1px solid #fff;
    padding: 1% 1.5% 1% 1%;
    border-radius: 10px;
    width: 2%;
    height: 10%;
    cursor: pointer;
}
.nav_lang p {
    font-size: 20px;
    color: #fff;
    margin: 0;
}
.header_btn_contact button {
    height: 80px;
    width: 300px;
    background: 0;
    border: 1px solid #fff;
    font-size: 18px;
    color: #fff;
    font-weight: 200;
    border-radius: 5px;
    transition: 1.5s;
}
.header_btn_contact button:hover {
    background: #133465;
    border: #133465;
    transition: 1.5s;
    border-radius: 5px;
    opacity: .8;
}
.header_btn_contact {
    padding: 2% 0;
   
}
.header_btn_contact button {
    cursor: pointer;
}
.video_media {
    top: 0;
    position: absolute;
    z-index: -1;
    left: 0;
}

/* 2 section */

.slide_section {
    padding: 0 0 7% 0;
}
.title_text {
    text-align: center;
    color: #000;
    margin: 5% 0;
}
.title_text h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: "Adriana-Bold";
    letter-spacing: 25px;
    text-transform: uppercase;
}
.title_text p {
    font-size: 18px;
    line-height: 23px;
    font-weight: 300;
}
.slick-track {
    display: flex;
}
.slider {
    position: relative;
    overflow: hidden;
    padding: 2% 0;
}
.slider .slick-arrow {
    position: absolute;
    top: 1%;
    right: 3%;
    font-size: 0;
    cursor: pointer;
}
.slider .slick-arrow.slick-prev {
    right: 7%;
    background: url(../img/slider/Arrow\ 3.png) center no-repeat;
    background-size: contain;
    width: 3%;
    height: 4%;
    border: 0;
}
.slider .slick-arrow.slick-next {
    background: url(../img/slider/Arrow\ 2.png) center no-repeat;
    background-size: contain;
    width: 3%;
    height: 4%;
    border: 0;
}
.slider .slick-arrow.slick-prev:focus {
    outline: none;
 }
 .slider .slick-arrow.slick-next:focus {
    outline: none;
 }
 .slider_wrap {
    padding: 0 .2%;
 }
 .slider_block {
     width: 100%;
 }
 .slider_block img {
     transition: 1s;
 }
 .slider_block img:hover {
     transform: scale(1.2);
 }
 .link_top_yacht {
     cursor: pointer;
     color: #133465;
     text-decoration: none;
     font-weight: normal;
 }
 .slide_title {
     font-size: 18px;
     font-weight: lighter;
     text-align: end;
     margin-right: 17%;
 }

 /* 3 section */
.category_yacht {
    padding: 0 0 5% 0;
}
 .category_btn {
     text-align: center;
     margin: 5% 0;
 }
 .btn_class {
     width: 15.66%;
     font-size: 18px;
     background: none;
     padding: 1.46% 0;
     font-weight: 300;
     font-family: 'Roboto Slab', serif;
     margin: 0 1%;
     border-radius: 5px;
     cursor: pointer;
 }
 .yacht_wrap {
     display: flex;
     width: 100%;
     justify-content: space-around;
     margin: 0 0 5% 0;
 }
 .yacht_header {
     display: flex;
     padding: 0 5%;
 }
 .yacht_img {
     width: 59.3%;
 }
 .yacht_img img {
     width: 100%;
 }
 .yacht_block {
     width: 43.5%;
     background: #F5F5F5;
 }
 .yacth_desc {
     margin-left: 7%;
 }
 .yacth_desc p {
     font-weight: 100;
 }
 .color_desc {
     color: #133465;
 }
 .btn_see {
     text-align: center;
     padding: 4% 0;
 }
 .btn_see button {
    font-size: 18px;
    width: 36%;
    padding: 3.36% 0;
    background: #133465;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
 }
 .yacht_img img {
     position: relative;
     top: -13%;
 }
 .content{
	width: 100%;
	display: none;
}
.content.show {
	display: block;
}
.active {
	background: #133465;
	color: #fff;
	border: 0px;
}
.back_top {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #133465;
    cursor: pointer;
}


/* 4 section */

.form_input {
    display: grid;
}
.form_input input {
    height: 90px;
    width: 27.1%;
    margin: 1% auto;
    border-radius: 5px;
    padding-left: 1%;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;

}
.form_input textarea {
    width: 26.25%;
    margin: 1% auto;
    border-radius: 5px;
    padding: 1%;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}
.form_input p {
    text-align: center;
    font-weight: 300;
    margin: 0 0 20px 0;
}
.form_input button {
    margin: 0 auto;
    width: 15.67%;
    font-size: 18px;
    padding: 1.46% 0;
    background: #133465;
    color: #fff;
    border: 0;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

/* footer */

.footer {
    background: #F5F5F5;
}
#footer_titile {
    margin: 2% 0;
}
#footer_titile h1 {
    font-size: 50px;
    font-weight: normal;
    font-family: "Adriana-Bold";
    letter-spacing: 5px;
    padding: 2% 0 0 0
}
.footer_nav {
    text-align: center;
}
.footer_nav li {
    display: inline;
    margin: 0 .5%;
}
.footer_nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.footer_social {
    text-align: center;
}
.footer_social img {
    margin: 0 .2%;
}
.footer_signature {
    text-align: center;
    padding: 2% 0;
}
.footer_signature p {
    font-size: 18px;
    margin: 0 ;
}
.footer_signature a {
    text-decoration: none;
    color: #000;
} 

/* top_yacht */

.heaederTop_logo {
    text-align: center;
    padding: 1% 0 3% 0;
}
.headerTop_nav {
    text-align: center;
    display: flex;
    justify-content: center;
}
.header_top {
}
.headerTop_menu  {
    width: 60%;
}
.headerTop_menu li {
    display: inline;
    margin: 0 2%;
}
.headerTop_menu a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 200;
    transition: .5s;
}
.headerTop_menu a:hover {
    color: #D9BD75;
    transition: .5s;
}
.navTop_lang {
    position: relative;
    top: -7px;
    border: 1px solid #000;
    padding: 1% 1.5% 1% 1%;
    border-radius: 10px;
    width: 2%;
    height: 10%;
    cursor: pointer;
}
.navTop_lang p {
    font-size: 20px;
    color: #000;
    margin: 0;
}
#top_category {
    margin: 10% 0;
}
.activ_pages {
    border: 1px solid #D9BD75;
    border-radius: 5px;
    padding: 1%;
}
.title_text_contact {
    font-weight: bold;
    font-family: "Adriana-Bold";
    font-size: 120px;
    text-align: center;
}
.contact_desc {
    display: flex;
    justify-content: space-around;
}
.contact_adres {
    display: flex;
    width: 20%;
}
.contact_adres img {
    width: 26%;
    height: 90%;
}
.contact_mail {
    display: flex;
    width: 20%;
}
.contact_mail img {
    width: 26%;
    height: 48%;
    position: relative;
    top: 14px;
    right: 10px;
}

/* lang_burger */
.lang_burger {
    position: relative;
}
.lang_burger::before,
.lang_burger::after {
    content: '';
    background: #000;
    position: absolute;
    width: 29%;
    height: 1px;
    top: 15px;
}
.lang_burger::before {
    transform: rotate(45deg);
    left: 36px;
}
.lang_burger::after {
    transform: rotate(-45deg);
    left: 42px;
}
#color_lang::before,
#color_lang::after {
    background: #fff;
}
.open_lang {
    display: none;
    height: 0;
    transition: .5s;
}
.open_lang a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.open_lang.show {
    display: block;
    height: 50px;
    transition: 1s;
}
#link_lang a {
    color: #000;
}


/* yacht pages */

.container {
    width: 42%;
    margin: 0 auto;
}
.container strong {
    color: #133465;
}
.container span {
    color: #133465;
    font-weight: 300;
}
.yacht_title {
    display: flex;
    justify-content: space-between;
}
.block_one p {
    font-weight: 200;
}
.block_one_btn {
    width: 37%;
}
.block_one_btn button {
    width: 100%;
    height: 58%;
    border: 0;
    color: #133465;
    font-size: 18px;
    font-weight: 300;
     font-family: 'Roboto Slab', serif;
     cursor: pointer;
}
.service_text {
    font-weight: 400;
}
.btn_orderYacht button {
    background: #133465;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    border: 0;
    width: 37.3%;
    padding: 3.5% 0;
    border-radius: 5px;
    margin: 10% 0;
}
.description_yacht {
    background: #F5F5F5;
}
.description_yacht_wrap {
    display: flex;
    justify-content: space-around;
}
.container h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    padding: 5% 0;
    letter-spacing: 10px;
}
.description_yacht_title {
    width: 43%;
    position: relative;
}
.description_yacht_title img {
    position: absolute;
    top: 32%;
}
.lef_img {
    left: 5%;
}
.right_img {
    right: 5%;
}
.description_subyacht_title {
    width: 43%;
}
.description_subyacht_title {
    text-align: center;
    font-size: 18px;
    
}
.description_yacht_subtitle p {
    font-size: 18px;
    font-weight: lighter;
}
.description_yacht_subtitle strong {
    color: #133465;
    font-weight: 400;
}
.description_yacht_title p {
    text-align: center;
    font-size: 18px;
    border: 1px solid #D9BD75;
    padding: 7%;
    border-radius: 5px;
}
.linkback {
    margin-left: 10%;
}
.linkback a {
    text-decoration: none;
    color: #133465;
    font-size: 18px;
}
.linkback img {
    width: 3%;
}
.some_menu {
    display: flex;
    width: 100%;
}
.some_desc {
    width: 100%;
}
.some_desc p {
    font-size: 18px;
}
.some_img {
    width: 100%;
    position: relative;
}
.some_img img {
    position: absolute;
    top: 30%;
    left: 21%;
    width: 125%;
}
.headerTop_nav {
    width: 100%;
}
.mb_header {
    display: none;
}
.open_menu {
    display: none;
}


@media screen and (min-width: 1000px) 
		      and (max-width: 1440px) {
                .header_menu a {
                    font-size: 15px;
                }
                .headerTop_menu a {
                    font-size: 15px;
                }
                .headerTop_menu {
                    padding-right: 5%;
                }
                .header_menu {
                    padding-right: 5%;
                    width: 57%;
                }
                .lang_burger::before {
                    left: 34px;
                }
                .lang_burger::after {
                    left: 39px;
                }
                .contact_mail img {
                    height: 35%;
                    top: 18px;
                }
                .description_yacht_subtitle p {
                    font-size: 16px;
                }
                .linkback a {
                    font-size: 16px;
                }
                .title_text h1 {
                    font-size: 50px;
                }
                .mb_header {
                    display: none;
                }
                .open_menu {
                    display: none;
                }
                .header_btn_contact {
                    position: relative;
                    top: -88px;
                }
                .header_title h1 {
                    font-size: 110px;
                }
                .nav_lang {
                    padding: 1% 1.9% 1% 1%;
                }
                .nav_lang p {
                    font-size: 18px;
                }
                .form_input input {
                    border: 1px solid #000;
                }
                .form_input button {
                    width: 22.67%;
                    border-radius: 5px;
                    padding: 2.155% 0;
                }
                
              }


              @media screen 
                and (min-device-width: 420px)
                and (max-device-width: 1024px) {
                    .header_nav {
                        display: none;
                    }
                    .header_title h1 {
                        font-size: 80px;
                    }
                    #logo {
                        display: none;
                    }
                    .mb_header {
                        display: flex;
                        justify-content: space-around;
                    }
                    .logo_mb img {
                        width: 48%;
                    }
                    .nav_lang {
                        position: relative;
                        top: 4px;
                        border: 1px solid #fff;
                        padding: 2% 4% 2% 2%;
                        border-radius: 10px;
                        width: 4%;
                        height: 10%;
                        cursor: pointer;
                    }

                    /* menu */

                    .burger_menu {
                        position: relative;
                        top: 25px;
                        left: -7%;
                    }
                    .burger_menu span {
                        height: 2px;
                        width: 50px;
                        background: #fff;
                        position: absolute;
                        transition: 1s;
                    }
                    .burger_menu::before,
                    .burger_menu::after {
                        content: '';
                        position: absolute;
                        background: #fff;
                        width: 40px;
                        height: 2px;
                        transition: 1s;
                        z-index: 4;
                    }
                    .burger_menu::before {
                        top: -9px;
                        left: 0;
                    }
                    .burger_menu::after {
                        bottom: 55px;
                        left: 0;
                        width: 45px;
                    }
                    .burger_menu.active:before {
                        transform: rotate(45deg);
                        top: 0;
                        background: #000;
                        transition: 1s;
                    }
                    .burger_menu.active::after {
                        transform: rotate(-45deg);
                        bottom: 66px;
                        width: 40px;
                        background: #000;
                        transition: 1s;
                    }
                    .burger_menu.active span {
                        transform: scale(0);
                        transition: 1s;
                    }
                    .open_menu {
                        display: block;
                        width: 35%;
                        height: 51%;
                        background: #F5F5F5;
                        position: absolute;
                        top: 0;
                        left: -100%;
                        transition: 1.5s;
                        -webkit-box-shadow: 11px 16px 24px 6px rgba(34, 60, 80, 0.2);
                        -moz-box-shadow: 11px 16px 24px 6px rgba(34, 60, 80, 0.2);
                        box-shadow: 11px 16px 24px 6px rgba(34, 60, 80, 0.2);
                    }
                    .open_menu.active {
                        left: 0;
                    }
                    .link_page {
                        margin-top: 72%;
                    }
                    .link_page li {
                        list-style-type: none;
                        margin: 4% 0;
                    }
                    .link_page a {
                        text-decoration: none;
                        color: #000;
                        font-size: 18px;
                        font-weight: lighter;
                    }
                    .btn_class {
                        width: 29.66%;
                        padding: 2.46% 0;
                        border: 1px solid;
                    }
                    .yacht_img {
                        width: 100%;
                    }
                    .yacht_header {
                        display: block;
                    }
                    .btn_see button {
                        width: 68%;
                        padding: 6.36% 0;
                    }
                    .form_input input {
                        width: 69.1%;
                        border: 1px solid;
                    }
                    .form_input textarea {
                        width: 69.1%;
                        border: 1px solid;
                        height: 199px;
                    }
                    .form_input button {
                        width: 30.67%;
                        padding: 2.46% 0;
                        border-radius: 5px;
                    }
                    .footer_nav li {
                        margin: 0 2.5%;
                    }
                    .headerTop_nav {
                        display: none;
                    }
                    .navTop_lang {
                        position: relative;
                        top: 4px;
                        border: 1px solid #000;
                        padding: 2% 4% 2% 2%;
                        border-radius: 10px;
                        width: 4%;
                        height: 10%;
                        cursor: pointer;
                    }
                    #logo_mb_big {
                        width: 66%;
                    }

                    .burger_black {
                        position: relative;
                        top: 25px;
                        left: -7%;
                    }
                    .burger_black span {
                        height: 2px;
                        width: 50px;
                        background: #000;
                        position: absolute;
                        transition: 1s;
                    }
                    .burger_black::before,
                    .burger_black::after {
                        content: '';
                        position: absolute;
                        background: #000;
                        width: 40px;
                        height: 2px;
                        transition: 1s;
                        z-index: 4;
                    }
                    .burger_black::before {
                        top: -9px;
                        left: 0;
                    }
                    .burger_black::after {
                        bottom: 55px;
                        left: 0;
                        width: 45px;
                    }
                    .burger_black.active:before {
                        transform: rotate(45deg);
                        top: 0;
                        background: #000;
                        transition: 1s;
                    }
                    .burger_black.active::after {
                        transform: rotate(-45deg);
                        bottom: 66px;
                        width: 40px;
                        background: #000;
                        transition: 1s;
                    }
                    .burger_black.active span {
                        transform: scale(0);
                        transition: 1s;
                    }
                    .title_text_contact {
                        font-size: 57px;
                    }
                    .contact_adres {
                        width: 45%;
                    }
                    .contact_mail {
                        width: 40%;
                    }
                    .container {
                        width: 90%;
                    }
                    .linkback img {
                        width: 6%;
                    }
                    .slider .slick-arrow.slick-prev {
                        right: 11%;
                        width: 4%;
                    }
                    .slider .slick-arrow {
                        top: -1%;
                    }
                    .slider .slick-arrow.slick-next {
                        width: 4%;
                    }
                    .title_text p {
                        font-size: 14px;
                        line-height: 30px;
                    }
                    .header_btn_contact {
                        position: relative;
                        top: -88px;
                    }
                }

                @media screen 
                and (min-device-width: 280px)
                and (max-device-width: 414px) {
                    .video_media {
                        display: none;
                    }
                    .header_title h1  {
                        font-size: 58px;
                    }
                    .header_nav {
                        display: none;
                    }
                    .mb_header {
                        display: flex;
                        justify-content: space-around;
                    }
                    #logo {
                        display: none;
                    }
                    .title_text h1 {
                        font-size: 30px;
                    }
                    .header {
                        width: 103%;
                        height: 100vh;
                        background: url(../img/BGImage_mb.png.png) center no-repeat;
                        background-size: cover;
                    }
                    .heaeder_logo img {
                        width: 48%;
                    }
                    .header_btn_contact {
                        position: relative;
                        bottom: -34%;
                    }

                                        /* menu */

                                        .burger_menu {
                                            position: relative;
                                            top: 25px;
                                            left: -1%;
                                        }
                                        .burger_menu span {
                                            height: 2px;
                                            width: 50px;
                                            background: #fff;
                                            position: absolute;
                                            transition: 1s;
                                        }
                                        .burger_menu::before,
                                        .burger_menu::after {
                                            content: '';
                                            position: absolute;
                                            background: #fff;
                                            width: 40px;
                                            height: 2px;
                                            transition: 1s;
                                            z-index: 4;
                                        }
                                        .burger_menu::before {
                                            top: -9px;
                                            left: 0;
                                        }
                                        .burger_menu::after {
                                            bottom: 57px;
                                            left: 0;
                                            width: 45px;
                                        }
                                        .burger_menu.active:before {
                                            transform: rotate(45deg);
                                            top: 0;
                                            background: #000;
                                            transition: 1s;
                                        }
                                        .burger_menu.active::after {
                                            transform: rotate(-45deg);
                                            bottom: 66px;
                                            width: 40px;
                                            background: #000;
                                            transition: 1s;
                                        }
                                        .burger_menu.active span {
                                            transform: scale(0);
                                            transition: 1s;
                                        }
                                        .open_menu {
                                            display: block;
                                            width: 103%;
                                            height: 51%;
                                            background: #F5F5F5;
                                            position: absolute;
                                            top: 0;
                                            left: -103%;
                                            transition: 1.5s;
                                            -webkit-box-shadow: 11px 16px 24px 6px rgba(34, 60, 80, 0.2);
                                            -moz-box-shadow: 11px 16px 24px 6px rgba(34, 60, 80, 0.2);
                                            box-shadow: 11px 16px 24px 6px rgba(34, 60, 80, 0.2);
                                        }
                                        .open_menu.active {
                                            left: 0;
                                        }
                                        .nav_lang {
                                            position: relative;
                                            top: 4px;
                                            border: 1px solid #fff;
                                            padding: 2% 8% 2% 2%;
                                            border-radius: 10px;
                                            width: 4%;
                                            height: 10%;
                                            cursor: pointer;
                                        }
                                        .lang_burger::after {
                                            left: 39px;
                                        }
                                        .link_page {
                                            margin-top: 21%;
                                            margin-left: 13%;
                                        }
                                        .link_page li {
                                            list-style-type: none;
                                            margin: 4% 0;
                                        }
                                        .link_page a {
                                            text-decoration: none;
                                            color: #000;
                                            font-size: 18px;
                                            font-weight: lighter;
                                        }

                                        /*  */

                                        .slider .slick-arrow {
                                            top: -4%;
                                        }
                                        .slide_title {
                                            font-size: 15px;
                                            font-weight: lighter;
                                            text-align: center;
                                            margin-right: 0;
                                            padding: 0 2%;
                                        }
                                        .btn_class {
                                            width: 300px;
                                            height: 80px;
                                            border: 1px solid;
                                            margin: 3% 0;
                                        }
                                        .category_btn {
                                            display: grid;
                                            justify-content: center;
                                        }
                                        .yacht_wrap {
                                            display: block;
                                        }
                                        .yacht_block {
                                            width: 96%;
                                            margin: 10% auto;
                                        }
                                        .yacht_header {
                                            display: block  ;
                                        }
                                        .yacht_img {
                                            width: 97%;
                                            margin: 0 auto;
                                        }
                                        .content {
                                            width: 100%;
                                        }
                                        .btn_see button {
                                            width: 300px;
                                            height: 80px;
                                        }
                                        .contact {
                                            width: 100%;
                                        }
                                        .form_input input {
                                            width: 362px;
                                            height: 70px;
                                            border: 1px solid;
                                        }
                                        .form_input textarea {
                                            width: 362px;
                                            height: 140px;
                                            border: 1px solid;
                                        }
                                        .form_input button {
                                            width: 300px;
                                            height: 80px;
                                            border-radius: 5px;
                                        }
                                        #footer_titile h1 {
                                            font-size: 36px;
                                        }
                                        .footer_nav li {
                                            display: block;
                                            margin: 5% 0;
                                        }
                                        .footer_nav ul {
                                            padding: 0;
                                        }
                                        .footer {
                                            width: 100%;
                                        }
                                        .headerTop_nav {
                                            display: none;
                                        }

                                        .burger_black {
                                            position: relative;
                                            top: 25px;
                                            left: -3%;
                                        }
                                        .burger_black span {
                                            height: 2px;
                                            width: 50px;
                                            background: #000;
                                            position: absolute;
                                            transition: 1s;
                                        }
                                        .burger_black::before,
                                        .burger_black::after {
                                            content: '';
                                            position: absolute;
                                            background: #000;
                                            width: 40px;
                                            height: 2px;
                                            transition: 1s;
                                            z-index: 4;
                                        }
                                        .burger_black::before {
                                            top: -9px;
                                            left: 0;
                                        }
                                        .burger_black::after {
                                            bottom: 91px;
                                            left: 0;
                                            width: 45px;
                                        }
                                        .burger_black.active:before {
                                            transform: rotate(45deg);
                                            top: 0;
                                            background: #000;
                                            transition: 1s;
                                        }
                                        .burger_black.active::after {
                                            transform: rotate(-45deg);
                                            bottom: 100px;
                                            width: 40px;
                                            background: #000;
                                            transition: 1s;
                                        }
                                        .burger_black.active span {
                                            transform: scale(0);
                                            transition: 1s;
                                        }
                                        .navTop_lang {
                                            position: relative;
                                            top: 4px;
                                            border: 1px solid #000;
                                            padding: 2% 8% 2% 2%;
                                            border-radius: 10px;
                                            width: 4%;
                                            height: 10%;
                                            cursor: pointer;
                                        }
                                        .header_top {
                                            width: 100%;
                                        }
                                        .linkback img {
                                            width: 10%;
                                        }
                                        .yacht_title {
                                            display: block;
                                            justify-content: space-between;
                                            text-align: left;                                        
                                        }
                                        .container {
                                            width: 100%;
                                            
                                        }
                                        .yacht_desc {
                                            padding: 0 10%;
                                        }
                                        .block_one_btn button {
                                            width: 250px;
                                            height: 60px;
                                        }
                                        .btn_orderYacht button {
                                            width: 250px;
                                            height: 60px;
                                        }
                                        .description_yacht_title img {
                                            display: none;
                                        }
                                        .description_yacht_title p {
                                            height: 50px;
                                        }
                                        .description_yacht_wrap {
                                            padding: 0 4%;
                                        }
                                        .title_text_contact {
                                            font-size: 24px;
                                            letter-spacing: 5px;
                                        }
                                        .contact_desc {
                                            display: block;
                                        }
                                        .contact_adres {
                                            width: 100%;
                                            justify-content: center;
                                            margin: 12% 0;
                                        }
                                        .contact_mail {
                                            width: 100%;
                                            justify-content: center;
                                        }
                }